.sideBar {
  background-color: #121212;
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px 0;
  align-items: center;
  width: 150px;
  grid-gap: 25px;
  position: sticky;
  top: 0;
  bottom: 0;
}

.image {
  width: 75px;
}

.premiumImage {
  width: 80%;
  margin-bottom: 25px;
}

.list {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.marginTop {
  margin-top: 45px;
}

.link {
  padding: 10px 0 10px 25px;
  border-left: 5px solid transparent;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  width: 100%;
  transition: 0.5s;
}

.link:hover {
  background-color: #6c34fb56;
}

.prem {
  text-align: center;
}

.button {
  background-color: #6e34fb;
  width: max-content;
  padding: 7px 15px;
  color: #fff;
  font-weight: bold;
  margin: 15px auto 0 auto;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: hsla(257, 96%, 59%, 0.9);
}

.active {
  border-left: 5px solid #6e34fb !important;
  font-weight: bold;
  background-color: #6c34fb56;
}
