.heroSection {
  height: 500px;
  display: flex;
  justify-content: space-around;
  margin: 50px 35px;
  border-radius: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../image/abstract.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 0 25px;
}

@media (min-width: 700px) {
  .heroSection {
    align-items: center;
  }
}

@media (max-width: 1020px) {
  .heroSection {
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 700px) {
  .heroSection {
    display: grid;
    grid-template-rows: max-content 1fr;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.hero-img-div {
  height: 100%;
  width: max-content;
}

@media (max-width: 700px) {
  .hero-img-div {
    grid-row: span 2;
  }
}

.imageStyle {
  height: 100%;
  /* width: 100%; */
  object-fit: contain;
  padding-top: 15px;
}

.title {
  font-size: 75px;
}

@media (max-width: 1150px) {
  .title {
    font-size: 50px;
  }

  h2 {
    font-size: 20px;
  }
}

.buttonArea {
  display: flex;
}

.primaryButton {
  background-color: #6e34fb;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 30px;
  margin-right: 15px;
  margin-top: 15px;
  border: 2px solid #6e34fb;
  cursor: pointer;
}

.primaryButton:hover {
  background-color: hsla(257, 96%, 59%, 0.8);
}

.secondaryButton {
  margin-top: 15px;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 30px;
  border: 2px solid #6e34fb;
  cursor: pointer;
}

.secondaryButton:hover {
  background-color: hsla(257, 96%, 59%, 0.3);
}

a {
  color: #fff;
  text-decoration: none;
}
