.tag-box {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 25px;
  width: 100%;
  padding: 25px 25px;
}

.tag-list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin-top: 15px;
  margin-right: 8px;
  background-color: #f4f5f9;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  transition: 0.5s;
}

.tag:hover {
  background-color: #d3d3d3;
}
